* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

main {
    margin: 0 auto;
    width: 70%;
}


/*******
    Event styling
 */

 form {
     display: flex;
     flex-direction: column;
 }

.title-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
}

.events-wrapper {
    border: 1px solid black;
    background-color: white;
}

.event {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.event-link {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 0.5px solid black;
}

.event-link:visited {
    color: black;
}


/*******
    LOGIN & SIGNUP

 */



/*********
    SINGLE EVENT
 */


.event-attendees {
    margin: 40px 0 40px 0;
}

.attendee-wrapper,
.user-wrapper {
    display: flex;
    flex-direction: row;
}

.attendee,
.user{
    border: 0.1px solid black;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
