<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create event</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">

</head>
<body>
    <main>
        <section id="create-event">
            <h1>Create new event</h1>
            <form method="POST" action="/createNewEvent">
                <label for="name">Event name</label>
                <input id="name" type="text" name="name">

                <label for="event-date">Event date</label>
                <input id="event-date" type="date" name="event-date">

                <label for="event-starttime">Event start time</label>
                <input id="event-starttime" type="time" name="event-starttime">

                <label for="event-endtime">Event end time</label>
                <input id="event-endtime" type="time" name="event-endtime">

                <label for="min">Minimum attendees</label>
                <input id="min" type="number" name="min">

                <label for="max">Maximum attendees</label>
                <input id="max" type="number" name="max">

                <input type="submit" value="Create event">
            </form>
        </section>
    </main>

</body>
</html>