<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
    <main>
        <section id="events">
            <h1>All events</h1>

            <div class="title-wrapper">
                <span class="title">Name</span>
                <span class="title">Date</span>
                <span class="title">Start time</span>
                <span class="title">End time</span>
                <span class="title">Attendees</span>
            </div>

            <div class="events-wrapper">
                <div class="event" th:each="event: ${events}">
                    <span class="event-name" th:text="${event.getName()}"></span>
                    <span class="event-date" th:text="${event.getDateAsString()}"></span>
                    <span class="event-starttime" th:text="${event.getStartTime()}"></span>
                    <span class="event-endtime" th:text="${event.getEndTime()}"></span>
                </div>
            </div>
            <a class="event-link" th:href="@{/createEvent}">Create event</a>
        </section>
    </main>

</body>
</html>