<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">

</head>
<body>
  <main>
    <div class="login-wrapper">
        <h1>Login</h1>
        <form method="POST" action="/validateUser">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username">
            <label for="password">Password</label>
            <input id="password" type="text" name="password">
            <input type="submit" value="Login">
        </form>


        <h2>Don't have an account?</h2>
        <a th:href="/"
    </div>
  </main>

</body>
</html>